body {
  background-color: #58CCFF;
  font-family: 'MapoHongdaeFreedom', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'MapoHongdaeFreedom';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoHongdaeFreedomA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bingo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

.bingo-content {
  margin-top: 5vh;
  font-size: 28px;
  font-weight: 700;
}

.bingo-box {
  width: 80vw;
  max-width: 400px;
  height: 13vh; 
  background-color: #FFFFFF;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 27px;
}

button {
  background-color: black;
  color: white;
  font-size: 2vw; 
  font-family: 'MapoHongdaeFreedom', sans-serif;
  padding: 2%;
  border-radius: 15px;
  
}

img{
  width: 20vw;
  position: absolute;
  bottom:5%;

}

/* 반응형 스타일 지정 */
@media (max-width: 600px) {
  .bingo-box {
    width: 90vw;
    font-size: 23px;
  }

  button {
    font-size: 8vw; 
    
  }

  img{
    width: 70vw;
  }
}

